data collected from: https://databank.worldbank.org/indicator/SH.STA.WASH.P5?Id=7f18f0c5&Report_Name=Health&populartype=series#

In [19]:
# Imports 
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns
sns.set()
sns.set_context('talk')

import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 104)
import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest
# Note: the statsmodels import may print out a 'FutureWarning'. Thats fine.

In [21]:
mortality = pd.read_csv("./datasets/mortality.csv")
mortality = mortality.dropna(axis=0, how='all')
mortality = mortality.drop([2841, 2842])
del mortality['Series Code']
mortality = mortality.rename(columns=lambda x: x.split(' [')[0])
del mortality['2022']

In [22]:
mortality.head()

,Country Name,Country Code,Series Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,"Survival to age 65, female (% of cohort)",53.334998,54.083719,54.554813,56.130087,57.009717,57.754769,58.592334,59.628489,60.623706,61.219357,62.041411,62.975062,63.811009,64.643019,65.042186,65.49806,66.349797,67.88252,68.448803,68.843426,65.799993,65.217377
1,Afghanistan,AFG,"Survival to age 65, male (% of cohort)",46.116872,46.891548,48.554162,49.85824,50.875379,51.383972,51.391496,51.544782,52.973162,54.119459,54.841702,55.718273,56.515048,57.291739,57.223704,56.993402,57.685135,55.147806,54.647829,55.972735,53.562234,51.520426
2,Afghanistan,AFG,"Mortality rate, under-5, male (per 1,000)",133.7,129.6,125.2,121,116.8,112.4,108.1,103.8,99.6,95.3,91.3,87.4,83.8,80.2,76.8,73.7,70.7,68.1,65.6,63.3,61.1,59.1
3,Afghanistan,AFG,"Mortality rate, under-5 (per 1,000)",129.3,125.3,121.2,117,112.8,108.6,104.3,100,95.9,91.8,87.8,84,80.3,76.8,73.4,70.2,67.2,64.6,62.2,59.9,57.8,55.7
4,Afghanistan,AFG,"Mortality rate, infant, male (per 1,000 live b...",95.7,93,90.1,87.4,84.6,81.7,78.9,76.1,73.3,70.5,67.8,65.3,62.9,60.6,58.4,56.3,54.4,52.6,51,49.4,47.9,46.5